.root {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  gap: 4px;
  padding: 6px;

  .separator {
    align-self: center;
    background: var(--border);
    border-radius: 1px;
    height: 8px;
    width: 1px;

    &.active {
      background: var(--success);
    }
  }

  .step {
    align-items: center;
    background: var(--background-glass-secondary);
    border: 2px solid transparent;
    border-radius: 18px;
    color: var(--text-primary);
    display: flex;
    gap: 6px;
    justify-content: center;
    padding: 4px 18px;

    &.active {
      background: var(--accent1-lighter);
      color: var(--text-primary-inverse);
    }

    &.complete {
      background: var(--success);
      color: var(--text-primary);
    }
  }

  @media (min-width: 992px) {
    align-items: center;
    flex-direction: row;
    font-size: 16px;
    gap: 8px;
    min-width: 250px;
    padding: 8px;

    .separator {
      height: 1px;
      width: 24px;
    }

    .step {
      gap: 8px;
      padding: 8px 18px;
    }
  }
}
