.editorWrapper {
  border-radius: 16px;
  border: 1px solid var(--border-glass);
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: flex-end;
}
