.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button {
  width: 100%;

  @media (min-width: 768px) {
    align-self: flex-end;
    width: auto;
  }
}
