.editorWrapper {
  border-radius: 16px;
  border: 1px solid var(--border-glass);
  max-height: calc(100dvh - 300px);
  overflow-y: auto;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.buttons {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.viewButton {
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }
}

.errorsList {
  list-style-type: disc;
  padding-left: 14px;
}
