.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px 32px;
}

.label {
  align-items: center;
  color: var(--text-secondary);
  display: flex;
  font-size: 14px;

  &.heading,
  .heading {
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 600;
  }

  &.em,
  .em {
    color: var(--text-primary);
    font-weight: 700;
  }

  .icon {
    color: var(--accent1);
    margin-right: 4px;
  }
}

.envWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
