.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.helpTrigger {
  align-items: center;
  cursor: help;
  display: inline-flex;
  gap: 4px;
}
