.root {
  max-width: 1160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
  gap: 80px;
}

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}

.heroSection h1 {
  font-family: 'Sharp Sans Display', 'Sharp Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

.heroSection p {
  font-family: 'Sharp Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}
