.extraFilters {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 576px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.footer {
  align-items: end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;

  .sortSelect {
    min-width: 250px;
  }

  .buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
