.form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .selectRow {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .inputsGrid {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .button {
    align-self: end;
  }

  @media (min-width: 768px) {
    .selectRow {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .inputsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: 992px) {
    .selectRow {
      grid-template-columns: 2fr 1fr;
    }
  }

  @media (min-width: 1200px) {
    .selectRow {
      grid-template-columns: 3fr 1fr;
    }
  }
}

.cost {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  padding: 12px 24px;

  .values {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;

    .token {
      color: var(--text-secondary);
      font-size: 14px;
    }

    .amount {
      font-size: 32px;
      font-weight: 700;
    }

    .reimbursment {
      color: var(--success);
    }
  }
}
