.grid {
  display: flex;
  flex-direction: column;
  gap: 8px 32px;

  .label {
    font-weight: 700;
    color: var(--text-secondary);
  }

  .gpus {
    display: flex;
    gap: 12px;
  }

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: auto 1fr;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 992px) {
    align-items: center;
    flex-direction: row;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 16px;

    @media (min-width: 576px) {
      align-items: center;
      flex-direction: row;
      justify-content: end;
    }
  }
}
