.root {
  padding: 60px 50px;
  background-color: var(--black-900);
  position: relative;
  overflow: hidden;
}

.relative {
  position: relative;
}

.leaderboardWrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 1;
}

.leaderboardFooter {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}

@media (max-width: 1100px) {
  .root {
    padding: 50px 40px;
  }

  .leaderboardWrapper {
    padding: 32px;
  }
}

@media (max-width: 768px) {
  .root {
    padding: 40px 24px;
  }

  .leaderboardWrapper {
    padding: 28px 22px;
  }
}

@media (max-width: 480px) {
  .root {
    padding: 32px 18px;
  }

  .leaderboardWrapper {
    border-radius: 28px;
    padding: 24px 18px;
  }
}
