.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  gap: 8px;

  .label {
    color: var(--text-secondary);
    font-size: 10px;
    margin-right: 4px;
    text-transform: uppercase;
  }

  .divider {
    height: 12px;
  }

  .result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .icon {
      color: var(--accent1-lighter);
      font-size: 16px;
    }
  }

  .total {
    color: var(--accent1-lighter);
    font-weight: 700;
  }
}
