.root {
  align-items: flex-start;
  background: var(--background-glass);
  border-radius: 16px;
  border: 1px solid var(--border);
  color: var(--text-primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-weight: 500;
  font-size: 12px;
  gap: 8px;
  padding: 2px 16px;

  .label {
    color: var(--text-secondary);
    font-size: 10px;
    margin-right: 4px;
    text-transform: uppercase;
  }

  .divider {
    display: none;
  }

  @media (min-width: 576px) {
    align-items: center;
    flex-direction: row;

    .divider {
      display: block;
      height: 12px;
    }
  }

  .result {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    .icon {
      color: var(--accent1);
      font-size: 16px;
    }

    .customIcon {
      fill: var(--accent1);
      height: 16px;
      width: 16px;
    }
  }

  .total {
    color: var(--accent1);
    font-weight: 700;
  }
}
