.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  width: 100%;
}

.container {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
  position: relative;
  width: 100%;
  position: relative;
}
