.root {
  color: var(--text-primary);
  text-align: center;
  width: 100%;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
}

.tapToSee {
  font-size: 14px;
  color: var(--text-secondary);
  margin-top: 0;
  font-weight: 400;
  line-height: 18px;
  transition: all 0.3s ease-in-out;
}

.pieChartContainer {
  height: 220px;
}

@media (max-width: 768px) {
  .card {
    padding: 16px;
  }

  .pieChartContainer {
    height: 180px;
  }
}

.pieHover {
  cursor: pointer;
}
