{
  "extends": ["next/core-web-vitals", "next/typescript"],
  "rules": {
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "prefer-destructuring": ["warn", { "object": true, "array": false }],
    "no-dupe-class-members": ["warn"],
    "no-useless-constructor": ["warn"],
    "constructor-super": ["warn"],
    "require-await": "error",
    "no-unused-vars": ["error"]
  }
}
