.root {
  align-items: center;
  background: none;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.size-sm {
  font-size: 14px;
  gap: 2px;
  line-height: 18px;
  padding: 4px 12px;
}
.size-md {
  font-size: 16px;
  gap: 4px;
  line-height: 20px;
  padding: 6px 18px;
}
.size-lg {
  font-size: 20px;
  gap: 8px;
  line-height: 24px;
  padding: 12px 32px;
}

.color-accent1 {
  &.variant-filled {
    background: var(--accent1);
    color: var(--text-primary);
  }
  &.variant-outlined {
    box-shadow: inset 0 0 0 2px var(--accent1);
    color: var(--accent1);
  }
}
.color-accent2 {
  &.variant-filled {
    background: var(--accent2);
    color: var(--text-primary);
  }
  &.variant-outlined {
    box-shadow: inset 0 0 0 2px var(--accent2);
    color: var(--accent2);
  }
}
.color-error {
  &.variant-filled {
    background: var(--error);
    color: var(--text-primary);
  }
  &.variant-outlined {
    box-shadow: inset 0 0 0 2px var(--error);
    color: var(--error);
  }
}
.color-primary {
  &.variant-filled {
    background: var(--text-primary);
    color: #000;
  }
  &.variant-outlined {
    box-shadow: inset 0 0 0 2px var(--text-primary);
    color: var(--text-primary);
  }
}
