.tabBar {
  align-self: center;
}

.root {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;

  .name {
    font-size: 28px;
  }

  .address {
    font-size: 14px;
    color: var(--text-secondary);
    word-break: break-word;
  }
}
