:root {
  --white: #fff;
  --background-body: #f8f9fa;
  --background-secondary: #fbfbfb;
  --gray-500: #718096;
  --gray-700: #2d3748;
  --color-secondary: #3d4551;
  --border-color: #e2e8f0;
  --primary: #CF1FB1;
  --background-dark: #0E001A;
  --text-dark: #3D4551;
}

@font-face {
  font-family: 'Sharp Sans Display';
  src: url('/fonts/SharpSansDisplay-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans Display';
  src: url('/fonts/SharpSansDisplay-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sharp Sans';
  src: url('/fonts/SharpSans-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Sharp Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
}

body {
  background: #0E001A;
  color: var(--gray-700);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  margin: 50px;
  margin-left: 5%;
  margin-right: 5%;
  overflow: visible;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    margin: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
