.main {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
}

.backgroundAnimation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  height: 100%;
  width: 65%;
  z-index: -1;

  .backgorundImage {
    filter: invert(1) saturate(0);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    max-height: 100%;
    opacity: 0.4;
    position: fixed;
    width: auto;
  }
}

@media (max-width: 992px) {
  .backgroundAnimation {
    opacity: 0.4;
  }
}

@media (max-width: 640px) {
  .backgroundAnimation {
    display: none;
  }
}
