.main {
  position: relative;
  min-height: 100vh;
}

.backgroundAnimation {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 15%;
  height: 100%;
  z-index: -1;

  .backgorundImage {
    width: auto;
    max-height: 100%;
  }
}

@media (max-width: 992px) {
  .backgroundAnimation {
    opacity: 0.4;
  }
}

@media (max-width: 640px) {
  .backgroundAnimation {
    display: none;
  }
}
