.layout {
  display: grid;
  gap: 24px;
  grid-template-columns: minmax(0, 1fr);

  @media (min-width: 940px) {
    align-items: start;
    grid-template-columns: 264px minmax(0, 1fr);
  }
}

.content {
  min-width: 0;
}
