.root {
  --padding-sm: 14px;
  --padding-md: 18px;
  --padding-lg: 24px;

  @media (min-width: 576px) {
    --padding-sm: 24px;
    --padding-md: 32px;
    --padding-lg: 48px;
  }
}

/* Directions */
.direction-column {
  display: flex;
  flex-direction: column;
}
.direction-row {
  display: flex;
  flex-direction: row;
}

/* Paddings */
.padding-sm {
  padding: var(--padding-sm);
}
.padding-md {
  padding: var(--padding-md);
}
.padding-lg {
  padding: var(--padding-lg);
}

/* X paddings */
.paddingX-sm {
  padding-left: var(--padding-sm);
  padding-right: var(--padding-sm);
}
.paddingX-md {
  padding-left: var(--padding-md);
  padding-right: var(--padding-md);
}
.paddingX-lg {
  padding-left: var(--padding-lg);
  padding-right: var(--padding-lg);
}

/* Y paddings */
.paddingY-sm {
  padding-top: var(--padding-sm);
  padding-bottom: var(--padding-sm);
}
.paddingY-md {
  padding-top: var(--padding-md);
  padding-bottom: var(--padding-md);
}
.paddingY-lg {
  padding-top: var(--padding-lg);
  padding-bottom: var(--padding-lg);
}

/* Radii */
.radius-sm {
  border-radius: 16px;
}
.radius-md {
  border-radius: 24px;
}
.radius-lg {
  border-radius: 32px;
}

/* Spacings */
.spacing-sm {
  gap: 16px;
}
.spacing-md {
  gap: 24px;
}
.spacing-lg {
  gap: 32px;
}

/* Variants */
.variant-glass {
  background-color: var(--background-glass);
  border: 1px solid var(--border-glass);
}
.variant-glass-shaded {
  background-color: var(--background-glass);
  backdrop-filter: var(--backdrop-filter-glass);
}
.variant-success {
  background: var(--success);
}
.variant-success-outline {
  border: 2px solid var(--success);
}
.variant-warning {
  background: var(--warning);
}
.variant-warning-outline {
  border: 2px solid var(--warning);
}
.variant-error {
  background: var(--error);
}
.variant-error-outline {
  border: 2px solid var(--error);
}
.variant-accent1 {
  background: var(--accent1);
}
.variant-accent1-outline {
  border: 2px solid var(--accent1-lightest);
}
.variant-accent2 {
  background: var(--accent2);
}
.variant-accent2-outline {
  border: 2px solid var(--accent2);
}
