.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 300px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

@media screen and (max-width: 700px) {
  .footer {
    padding: 20px;
  }

  .footerContainer {
    flex-direction: column;
  }

  .footerLinks {
    flex-direction: column;
    margin-top: 12px;
    gap: 12px;
  }
}
