.root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  margin: 0;
  color: var(--accent1);
  font-size: 40px;
}

.subTitle {
  font-size: 20px;
}
