.root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}

.subTitle {
  font-size: 20px;
}
