.root {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
}

.subTitle {
  font-size: 20px;
}

.moreReadable {
  .title,
  .subTitle {
    position: relative;

    &::before {
      background: var(--background-primary);
      /* background: #ffffffbb; */
      /* backdrop-filter: blur(10px); */
      content: '';
      height: calc(100% + 32px);
      left: -32px;
      mask-composite: intersect;
      mask-image:
        linear-gradient(180deg, transparent 0%, black calc(0% + 32px), black calc(100% - 32px), transparent 100%),
        linear-gradient(90deg, transparent 0%, black calc(0% + 32px), black calc(100% - 32px), transparent 100%);
      position: absolute;
      top: -16px;
      width: calc(100% + 64px);
      z-index: -1;
    }
  }
}
