.root {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 768px) {
  .root {
    gap: 50px;
    padding: 20px;
  }
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additionalComponents {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 768px) {
  .additionalComponents {
    gap: 50px;
  }
}

.pieCharts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  gap: 2rem;
}

@media (max-width: 768px) {
  .pieCharts {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
