.root {
  background: var(--background-glass-secondary);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  gap: 8px;
  line-height: 2;
  padding: 8px 8px 8px 16px;
  white-space: pre-wrap;
  word-break: break-word;

  .copyButton {
    align-self: flex-end;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;

    .copyButton {
      align-self: flex-start;
    }
  }
}
