.root {
  align-items: start;
  background: var(--background-glass-secondary);
  border-radius: 16px;
  display: flex;
  font-family: monospace;
  gap: 16px;
  justify-content: space-between;
  line-height: 2;
  padding: 8px 8px 8px 16px;
  white-space: pre-wrap;
}
