.root {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;

  .icon {
    /* color: var(--text-secondary); */
    font-size: 28px;
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: 2 / span 1;
  }

  .reason {
    grid-column: 1 / span 2;
    word-break: break-word;
    white-space: pre-wrap;
  }

  .button {
    align-self: end;
  }
}
