.root {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (min-width: 992px) {
    display: grid;
    grid-template-columns: 1fr 420px;
  }

  .infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: space-between;
    min-width: 0;

    .infoContent {
      display: flex;
      flex-direction: column;
      gap: 32px;

      .title {
        font-size: 24px;
        text-overflow: ellipsis;
        overflow: hidden;

        @media (min-width: 768px) {
          font-size: 32px;
        }
      }

      .statusChip {
        align-items: center;
        align-self: flex-start;
        display: flex;
        gap: 6px;
      }

      .grid {
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 12px;
        row-gap: 8px;
      }

      .buttons {
        align-items: stretch;
        display: flex;
        flex-direction: column;
        gap: 8px;

        @media (min-width: 576px) {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
        }
      }
    }

    .infoFooter {
      display: flex;
      flex-direction: column;
      gap: 24px;

      ul {
        list-style: disc;

        li {
          margin-left: 16px;
        }
      }
    }
  }

  .statusWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.hash {
  color: var(--text-secondary);
  font-size: 14px;
  word-break: break-word;
}

.icon {
  color: var(--accent1);
}
